* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  color: #030616;
}

header {
  margin: 72px;
  text-align: center;
}

header h1 {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 600;
}

main {
  background-color: #f8fafc;
  width: 100vw;
  display: flex;
  justify-content: center;
}

li {
  list-style-position: inside;
  line-height: 200%;
}

section:first-child {
  margin-top: 72px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d2d5da;
}

section h2 {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 600;
}

section p,
section ul,
section ol {
  margin-bottom: 24px;
}

.last-p {
  margin-bottom: 40px;
}

section:last-child {
  margin-top: 40px;
  margin-bottom: 72px;
}

a:link {
  color: #4e80ee;
  text-decoration: none;
}

div {
  width: 630px;
}

ul,
ol {
  text-indent: -20px;
  margin-left: 20px;
}
